<% include ./partials/header.ejs %>
    <div class=" border rounded mt-3 pl-5 pt-1">
        <div>
            
            <img src="<%= blog.image %> " class="img-fluid rounded ml-3 mx-auto" style="width: 600px;">
        </div>
        <div>
             <div class="float-right bg-primary text-white mr-1 p-lg-2 rounded text-center">
                <% var btime = blog.created  %>
            <!--     <%= btime.getYear() %> -->
                
               
                <%= btime.getDate() %> /
                <%= btime.getMonth() %>
                <br>
                <b> <%= btime.getFullYear() %></b>
                
            </div>
            <div>
                <h2><%= blog.title %></h2>
            </div>
           
        </div>
        <div>
            <p>
                <%- blog.body %>
            </p>
        </div>
        <br>
        <br>
    
        <div class="form-group  m-3" id="editform">
            <div class="row">
                <div class="col-9">
                <input type="text" id="password" placeholder="Enter your password to Edit or delete this post" class="form-control form-inline" required="true">
                </div>
                <div class="col-3">
                    <% console.log(blog.password)%>
                <input type="submit"   onclick='startedit(<%= blog.password %>)' class="btn btn-success form-inline" id="password-btn">
                </div>
               </div>

        </div>
    

     
        <div class="text-center d-none" id="startedit">

            <a href="/blogs/<%= blog._id %>/edit" class="btn btn-primary d-inline p-2">Update</a>
            <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" class=" d-inline">
                <!-- <button class="btn btn-danger btn-lg ml-5 ">Delete</button> -->
                <input type="submit" value="Delete" class="btn btn-danger d-inline ml-5 ">
            </form>
        </div>
      <br>
    </div>
<br>
    <div id="disqus_thread"></div>
    
    <% include ./partials/footer.ejs %>